@import 'global';

// start test --------------------

// body {
//     background-color: $gray;
// }

// end test ----------------------

header {
    height: 100vh;
    background-image: url(../media/images/landing-hero-background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .megamenu {
        @include flex-center;

        >div {
            display: flex;
            justify-content: space-between;
            align-content: center;
            width: 80%;
            height: 90px;

            >figure {
                @include flex-center;
                object-fit: contain;
            }

            >ul {
                @include flex-center;

                >li {
                    &:hover {
                        text-shadow: 0 0 2px $white;
                    }

                    text-align: center;
                    @include flex-center;

                    >a {
                        padding: 0 30px;
                        color: $white;
                        font-size: 1.6rem;
                        font-weight: bold;
                        @include flex-center;
                        width: 100%;
                        height: 90px;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    &:last-child {
                        >a {
                            background-color: $spink;
                            padding: 12px;
                            border-radius: 20px;
                            min-width: 160px;
                            height: 30px;
                            transition: all .4s ease-in;

                            &:hover {
                                background-color: $white;
                                color: $spink;
                            }
                        }

                    }

                    &:nth-of-type(1) {
                        @include hover-li;

                        >div {
                            hr {
                                @include hr-gradient($mgray, $bwhite);
                            }

                            h4 {
                                color: $mgray;
                                text-transform: uppercase;
                                padding: 0;

                            }

                            >ul:first-child {
                                background-color: $bwhite;
                                // min-width: 328px;
                                border-top-left-radius: 20px;
                                border-bottom-left-radius: 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 20px;

                                >h4 {
                                    width: 100%;
                                    text-align: left;
                                }

                                >li {
                                    padding: 10px 0;
                                    width: 100%;
                                    display: flex;
                                    justify-content: start;

                                    >* {
                                        color: $mgray;
                                    }

                                    >a {
                                        >i:first-child {
                                            padding-right: 5px;
                                            transition: all .4s ease-in;
                                        }

                                        >i:last-child {
                                            opacity: 0;
                                            transition: all .4s ease-in;
                                            color: $black;
                                        }
                                    }

                                    &:hover i:last-child {
                                        opacity: 1;
                                    }

                                    &:hover i:first-child {
                                        color: $black;
                                    }

                                    &:hover a {
                                        font-weight: bold;
                                    }
                                }
                            }

                            >ul:last-child {
                                display: flex;
                                flex-direction: column;
                                padding: 20px;

                                >li:nth-of-type(1) {
                                    padding: 10px;
                                    @include divi-products-mega($spurple);
                                }

                                >li:nth-of-type(2) {
                                    padding: 10px;
                                    @include divi-products-mega($mblue);
                                }

                                >li:nth-of-type(3) {
                                    padding: 10px;
                                    @include divi-products-mega($morange);
                                }

                                >li:nth-of-type(4) {
                                    padding: 10px;
                                    @include divi-products-mega($sgreen);
                                }

                                >li:nth-of-type(5) {
                                    padding: 10px;
                                    @include divi-products-mega($sblue);
                                }

                                >li:nth-of-type(6) {
                                    @include flex-center;
                                    width: 100%;

                                    >a {
                                        width: 80%;
                                        background-color: $sblue;
                                        border-radius: 20px;
                                        padding: 10px;
                                        color: $white;
                                        font-weight: bold;
                                        transition: all .4s cubic-bezier(1, 0, 0, 1);
                                        margin-top: 5px;
                                        text-shadow: none;

                                        &:hover {
                                            scale: 1.1;
                                            background-color: $hblue;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(2) {
                        @include hover-li;

                        >div {
                            min-width: 1000px;
                            max-width: 40%;
                            padding: 20px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            >div {
                                border-radius: 20px;
                                padding: 20px;
                                margin: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                >h6 {
                                    font-size: 2rem;
                                    padding: 10px 0px;
                                    margin: 0;
                                }

                                >p {
                                    font-size: 1.7rem;
                                }

                                &:nth-of-type(1) {
                                    @include divi-for-li($sgreen, $hgreen);
                                }

                                &:nth-of-type(2) {
                                    @include divi-for-li($sblue, $hblue);
                                }

                                &:nth-of-type(3) {
                                    @include divi-for-li($sorange, $horange);
                                }

                                &:nth-of-type(4) {
                                    @include divi-for-li($spurple, $hpurple);
                                }
                            }
                        }
                    }

                    &:nth-of-type(3) {
                        @include hover-li;

                        >div {
                            hr {
                                @include hr-gradient($mgray, $bwhite);
                            }

                            h4 {
                                color: $mgray;
                                text-transform: uppercase;
                                padding: 0;

                            }

                            >ul:first-child {
                                background-color: $bwhite;
                                border-radius: 20px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 20px;

                                >li {
                                    padding: 10px 0;
                                    width: 100%;
                                    display: flex;
                                    justify-content: start;

                                    >* {
                                        color: $mgray;
                                    }

                                    >a {
                                        >i:first-child {
                                            padding-right: 5px;
                                            transition: all .4s ease-in;
                                        }

                                        >i:last-child {
                                            opacity: 0;
                                            transition: all .4s ease-in;
                                            color: $black;
                                        }
                                    }

                                    &:hover i:last-child {
                                        opacity: 1;
                                    }

                                    &:hover i:first-child {
                                        color: $black;
                                    }

                                    &:hover a {
                                        font-weight: bold;
                                    }
                                }
                            }

                            >ul:last-child {
                                display: flex;
                                flex-direction: column;
                                padding: 20px;

                                >li:nth-of-type(1) {
                                    padding: 10px;
                                    @include divi-products-mega($spurple);
                                }

                                >li:nth-of-type(2) {
                                    padding: 10px;
                                    @include divi-products-mega($mblue);
                                }

                                >li:nth-of-type(3) {
                                    padding: 10px;
                                    @include divi-products-mega($morange);
                                }

                                >li:nth-of-type(4) {
                                    padding: 10px;
                                    @include divi-products-mega($sgreen);
                                }

                                >li:nth-of-type(5) {
                                    padding: 10px;
                                    @include divi-products-mega($sblue);
                                }

                                >li:nth-of-type(6) {
                                    @include flex-center;
                                    width: 100%;

                                    >a {
                                        width: 80%;
                                        background-color: $sblue;
                                        border-radius: 20px;
                                        padding: 10px;
                                        color: $white;
                                        font-weight: bold;
                                        transition: all .4s cubic-bezier(1, 0, 0, 1);
                                        margin-top: 5px;
                                        text-shadow: none;

                                        &:hover {
                                            scale: 1.1;
                                            background-color: $hblue;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(4) {
                        @include hover-li;

                        >div {
                            >ul {
                                display: flex;
                                flex-direction: column;
                                padding: 20px;

                                >li {
                                    >a {
                                        display: flex;
                                        align-items: center;

                                        >i:first-child,
                                        p {
                                            margin: 0;
                                            color: $sblue;
                                            font-weight: bold;
                                            font-size: 2rem;
                                            padding: 10px;
                                        }

                                        >i:last-child {
                                            opacity: 0;
                                            transition: all .4s ease-in;
                                            color: $black;
                                            font-weight: bold;
                                        }

                                        &:hover i:last-child {
                                            opacity: 1;
                                        }

                                        &:hover {

                                            >i:first-child,
                                            >p {
                                                color: $hblue;
                                            }
                                        }
                                    }

                                    &:last-child {
                                        background-color: $sblue;
                                        padding: 10px;
                                        display: flex;
                                        justify-content: center;
                                        border-radius: 20px;
                                        transition: all .4s linear;

                                        &:hover {
                                            scale: 1.1;
                                            background-color: $mblue;
                                        }

                                        >a {
                                            color: $white;
                                            font-weight: bold;
                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-of-type(5) {
                        @include hover-li;

                        >div {
                            background-color: $white;
                            border-radius: 20px;

                            >form {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding: 20px;

                                >input {
                                    outline: none;
                                    border: none;
                                    background-color: $bwhite;
                                    margin: 10px;
                                    padding: 20px;
                                    border-radius: 10px;
                                }

                                >div {
                                    cursor: pointer;
                                    display: flex;
                                    padding: 20px 0;
                                    justify-content: start;

                                    >label {
                                        text-transform: capitalize;
                                        font-size: 1.7rem;
                                    }
                                }

                                >a {
                                    background-color: $sblue;
                                    padding: 10px;
                                    color: $white;
                                    font-size: 1.8rem;
                                    transition: all .4s linear;
                                    border-radius: 10px;

                                    &:hover {
                                        background-color: $hblue;
                                        scale: 1.1;
                                    }
                                }

                                >p {
                                    >a {
                                        color: $mblue;

                                        &:visited {
                                            color: $sblue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >div {
        display: flex;
        justify-content: center;
        color: $white;
        font-weight: bold;

        >div:first-child {
            width: 80%;

            >h1 {
                width: 40%;
                font-size: 10rem;
                margin: 5px 0;
            }

            >div {
                font-size: 2rem;

                >div {
                    display: flex;
                    align-items: center;

                    img {
                        width: 10%;
                        padding: 0 10px;
                    }
                }

                >p {
                    font-size: 3rem;

                    &:nth-of-type(1) {
                        width: 50%;
                    }

                    &:nth-of-type(2) {
                        font-size: 2rem;
                        font-weight: lighter;
                    }
                }

                >a {
                    background-color: $spurple;
                    padding: 10px;
                    border-radius: 20px;
                    color: $white;
                    margin: 20px;
                    text-transform: uppercase;
                    transition: all .3s;

                    &:hover {
                        display: flex;
                        width: 22%;
                        transform: translate(0px, -10px);
                        background-color: $mpurple;
                    }
                }
            }
        }

        >div:last-child {
            position: absolute;
            top: 100px;
            left: 50%;
            width: 50%;
        }
    }
}

.divi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    padding: 50px;

    >* {
        display: flex;
        justify-content: center;
    }

    >h2 {
        font-size: 9rem;
        font-weight: bold;
        color: $hblue;
        margin: 0;
        margin-bottom: 50px;
    }

    >div {
        display: flex;
        align-items: center;

        >img {
            width: 10%;
            margin-right: 10px;
        }

        >a {
            font-size: 2rem;
            color: $red;
            font-weight: bold;

            &:hover {
                color: $sorange;
            }
        }
    }

    >p {
        &:nth-of-type(1) {
            font-size: 3rem;
            color: $black;
            font-weight: bold;
            text-align: center;
        }

        &:nth-of-type(2) {
            color: $hgray;
            text-align: center;
            font-size: 2.5rem;
        }
    }

    >a {
        background-color: $hblue;
        color: $white !important;
        padding: 20px;
        font-size: 2rem;
        font-weight: bold;
        width: 25%;
        border-radius: 40px;
        margin: 0 auto;
        transition: all .2s linear;

        &:hover {
            background-color: $sblue;
            transform: translate(0px, -8px);
        }
    }
}

.under-divi {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 78.5vh;
        position: relative;
        margin-top: 10px;


        >div {
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            transform: translateX(21.4%);
            background-color: $sblue;
            opacity: .5;
            z-index: 3;
            border-radius: 20px;
        }

        >img:nth-of-type(1) {
            width: 70%;
            position: absolute;
            z-index: 2;
            border-radius: 20px;
        }

        >i {
            z-index: 5;
            display: flex;
            transform: translate(-20%, -20%);
            transition: all .4s linear;
            color: $white;
            font-size: 12rem;

            &::after {
                content: '';
                position: absolute;
                width: 120%;
                height: 120%;
                background-color: $white;
                border-radius: 50%;
                z-index: 4;
                opacity: .5;
                transform: translate(-8%, -8%);
                transition: all .4s linear;
            }

            &:hover {
                scale: .9;

                &::after {
                    scale: 1.5;
                }
            }
        }

        img:nth-of-type(2) {
            position: absolute;
            display: flex;
            transform: translateY(210px);
            left: 2%;
            width: 50%;
            z-index: 1;
        }
    }
}